ASAN_SYMBOLIZER_PATH=<path_to_symbolizer> # e.g. /usr/bin/llvm-symbolizer
ASAN_OPTIONS="halt_on_error=0:log_path=<path_to_log_folder>:detect_stack_use_after_return=1:detect_leaks=1"
LSAN_OPTIONS="suppressions=<path_to_lsan.supp>"

export ASAN_SYMBOLIZER_PATH ASAN_OPTIONS LSAN_OPTIONS